############################################################
# BIGTREETECH Manta M4P + TMC2209 + Klipper
# Plasma machine met 1 X-as, 2 Y-motoren en 1 Z-as.
# Logische mapping:
# - X gebruikt de X-driver
# - Y gebruikt de Y-driver
# - Y1 gebruikt E0 als tweede Y-motor
############################################################

[include mainsail.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_hurakan-if00
restart_method: command

[printer]
kinematics: generic_cartesian
max_velocity: 8
max_accel: 80
max_z_velocity: 4
max_z_accel: 40

############################################################
# Carriages
############################################################
[carriage x]
# Mechanische eindstop op X-signaalpin. Zelfde logica als Y.
endstop_pin: ^PC0
position_endstop: 0
position_min: 0
position_max: 95
homing_positive_dir: false
homing_speed: 6
homing_retract_dist: 0

[carriage y]
# NC eindstop tussen Y-signaalpin en GND: gesloten = open, geopend = triggered.
endstop_pin: ^PC1
position_endstop: 0
position_min: 0
position_max: 100
homing_positive_dir: false
homing_speed: 6
homing_retract_dist: 0

[carriage z]
endstop_pin: tmc2209_sz:virtual_endstop
position_endstop: 0
position_min: 0
position_max: 35
homing_positive_dir: false
homing_speed: 2
homing_retract_dist: 0

############################################################
# Steppers
############################################################

[stepper sx]
carriages: x
step_pin: PC6
dir_pin: PA14
enable_pin: !PC7
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 1

############################################################
[stepper sy]
carriages: y
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 1

############################################################
# Tweede Y motor via E0
############################################################
[stepper sy1]
carriages: y
step_pin: PB3
dir_pin: PB4
enable_pin: !PD5
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 1

############################################################
[stepper sz]
carriages: z
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 1

############################################################
# TMC2209 drivers (UART + DIAG voor sensorless)
# DIAG jumpers op Y/X/Z/E0 slots in huidige bekabeling
############################################################

[tmc2209 stepper sx]
uart_pin: PB12
# X gebruikt nu een fysieke eindstop op PC0 in plaats van TMC DIAG.
#diag_pin: ^PC0
run_current: 0.6
hold_current: 0.1
stealthchop_threshold: 0

[tmc2209 stepper sy]
uart_pin: PC10
# Y gebruikt nu een fysieke NC-eindstop op PC1 in plaats van TMC DIAG.
#diag_pin: ^PC1
run_current: 0.6
hold_current: 0.1
stealthchop_threshold: 0

[tmc2209 stepper sy1]
uart_pin: PA13
#diag_pin: ^PA14
run_current: 0.6
hold_current: 0.1
stealthchop_threshold: 0

[tmc2209 stepper sz]
uart_pin: PC9
diag_pin: ^PC2
run_current: 0.30
hold_current: 0.10
stealthchop_threshold: 0
driver_SGTHRS: 255

############################################################
# PLASMA TOORTS CONTROLE
############################################################

[output_pin torch]
pin: PD2
pwm: False
value: 0

[gcode_macro TORCH_ON]
description: "Bekrachtig plasma toorts"
gcode:
  SET_PIN PIN=torch VALUE=1
  RESPOND MSG="Toorts AAN"

[gcode_macro TORCH_OFF]
description: "Schakel plasma toorts uit"
gcode:
  SET_PIN PIN=torch VALUE=0
  RESPOND MSG="Toorts UIT"

############################################################
# MACRO'S
############################################################

[gcode_macro UNLOCK_JOG]
description: "Vrijgeven zonder homing"
gcode:
  SET_KINEMATIC_POSITION X=0 Y=0 Z=0
  RESPOND MSG="Jog vrijgegeven zonder homing"

[force_move]
enable_force_move: True

#######################################
# X-as force move
#######################################
[gcode_macro X_MINUS_1]
description: "X -1mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sx" DISTANCE=-1 VELOCITY=4

[gcode_macro X_PLUS_1]
description: "X +1mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sx" DISTANCE=1 VELOCITY=4

[gcode_macro X_MINUS_5]
description: "X -5mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sx" DISTANCE=-5 VELOCITY=4

[gcode_macro X_PLUS_5]
description: "X +5mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sx" DISTANCE=5 VELOCITY=4

[gcode_macro X_MINUS_10]
description: "X -10mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sx" DISTANCE=-10 VELOCITY=5

[gcode_macro X_PLUS_10]
description: "X +10mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sx" DISTANCE=10 VELOCITY=5

[gcode_macro X_MINUS_25]
description: "X -25mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sx" DISTANCE=-25 VELOCITY=5

[gcode_macro X_PLUS_25]
description: "X +25mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sx" DISTANCE=25 VELOCITY=5

#######################################
# Y-as force move
#######################################
[gcode_macro Y_MINUS_1]
description: "Y -1mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy" DISTANCE=-1 VELOCITY=4

[gcode_macro Y_PLUS_1]
description: "Y +1mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy" DISTANCE=1 VELOCITY=4

[gcode_macro Y_MINUS_5]
description: "Y -5mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy" DISTANCE=-5 VELOCITY=4

[gcode_macro Y_PLUS_5]
description: "Y +5mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy" DISTANCE=5 VELOCITY=4

[gcode_macro Y_MINUS_10]
description: "Y -10mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy" DISTANCE=-10 VELOCITY=5

[gcode_macro Y_PLUS_10]
description: "Y +10mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy" DISTANCE=10 VELOCITY=5

[gcode_macro Y_MINUS_25]
description: "Y -25mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy" DISTANCE=-25 VELOCITY=5

[gcode_macro Y_PLUS_25]
description: "Y +25mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy" DISTANCE=25 VELOCITY=5

#######################################
# Tweede Y-as force move
#######################################
[gcode_macro YY_MINUS_1]
description: "Y2 -1mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy1" DISTANCE=-1 VELOCITY=4

[gcode_macro YY_PLUS_1]
description: "Y2 +1mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy1" DISTANCE=1 VELOCITY=4

[gcode_macro YY_MINUS_5]
description: "Y2 -5mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy1" DISTANCE=-5 VELOCITY=4

[gcode_macro YY_PLUS_5]
description: "Y2 +5mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy1" DISTANCE=5 VELOCITY=4

[gcode_macro YY_MINUS_10]
description: "Y2 -10mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy1" DISTANCE=-10 VELOCITY=5

[gcode_macro YY_PLUS_10]
description: "Y2 +10mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy1" DISTANCE=10 VELOCITY=5

[gcode_macro YY_MINUS_25]
description: "Y2 -25mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy1" DISTANCE=-25 VELOCITY=5

[gcode_macro YY_PLUS_25]
description: "Y2 +25mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sy1" DISTANCE=25 VELOCITY=5

#######################################
# Z-as force move
#######################################
[gcode_macro Z_MINUS_0P5]
description: "Z -0.5mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sz" DISTANCE=-0.5 VELOCITY=1

[gcode_macro Z_PLUS_0P5]
description: "Z +0.5mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sz" DISTANCE=0.5 VELOCITY=1

[gcode_macro Z_MINUS_1]
description: "Z -1mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sz" DISTANCE=-1 VELOCITY=1

[gcode_macro Z_PLUS_1]
description: "Z +1mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sz" DISTANCE=1 VELOCITY=1

[gcode_macro Z_MINUS_5]
description: "Z -5mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sz" DISTANCE=-5 VELOCITY=2

[gcode_macro Z_PLUS_5]
description: "Z +5mm (force)"
gcode:
  FORCE_MOVE STEPPER="stepper sz" DISTANCE=5 VELOCITY=2